.note-list {
  .note-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
    margin-top: 20px;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
      transform: scale(1.02);
    }

    .justify-end {
      display: flex;
      justify-content: flex-end;
    }

    .dropbtn {
      background-color: gray;
      color: white;
      padding: 8px 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 50%;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      left: 0;
      border: 1px solid rgb(196, 195, 195);
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    }

    .dropdown-content div {
      color: red;
      font-weight: 500;
      padding: 10px 14px;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }

    .dropdown-content div:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }

  .no-data {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
  }
}
